name: ${DOCKER_SERVICE_NAME}

services:
  ${DOCKER_SERVICE_NAME}:
    # Redlib v0.36.0 - queried via: curl -s https://api.github.com/repos/redlib-org/redlib/releases/latest | jq -r '.tag_name'
    image: git.nadeko.net/fijxu/redlib:2026-01-28
    restart: unless-stopped
    user: nobody
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    environment:
      REDLIB_ROBOTS_DISABLE_INDEXING: "off"
    networks:
      - shared
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "--tries=1",
          "http://localhost:8080/settings",
        ]
      interval: 5m
      timeout: 3s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  shared:
    external: true
